<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">

<head th:replace="common/admin/fragment::head('Trang chủ')"></head>

<body>
	<div id="app">
		<div th:replace="common/admin/fragment::menu"></div>

		<div id="main">
			<nav th:replace="common/admin/header::header"></nav>

			<div class="gap-sm"></div>

			<div class="main-content container-fluid">
				<div class="page-title">
					<h3>DOANH THU</h3>
				</div>
				<section class="section">
					<div class="row mb-4">
						<div class="col-md-12 colg-12 col-12">
							<div class="card">
								<div class="card-header">
									<h3 class='card-heading p-1 pl-3'>Bán Hàng</h3>
								</div>
								<div class="card-body">
									<div class="row m-5">
										<table class="table table-hover table-bordered">
											<thead>
												<tr>
													<th class="font-weight-bold" scope="col">#</th>
													<th class="font-weight-bold" scope="col">Tên sản phẩm</th>
													<th class="font-weight-bold" scope="col">Số lượng đã bán</th>
													<th class="font-weight-bold" scope="col">Tổng tiền</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="s, idx : ${sales}">
													<td>[[${idx.index+1}]]</td>
													<td>[[${s[0]}]]</td>
													<td>[[${s[1]}]]</td>
													<td>[[${#numbers.formatDecimal(s[2].longValue(), 1, 'DEFAULT', 0, 'DEFAULT')}]]₫</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div th:replace="common/admin/fragment::script"></div>

</body>

</html>