<!DOCTYPE html>
<html lang="vi" xmlns:th="thymeleaf.org">
<head th:replace="common/web/head::head('Information')">
</head>
<body>
	<!-- HEADER -->
	<header th:replace="common/web/header::header"></header>
	<!-- /HEADER -->

	<!-- NAVIGATION -->
	<nav id="navigation" th:replace="common/web/navigation::navigation">
	</nav>
	<!-- /NAVIGATION -->

	<!-- BREADCRUMB -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<h3 class="breadcrumb-header">Trang thông tin</h3>
					<ul class="breadcrumb-tree">
						<li><a th:href="@{/}">Home</a></li>
						<li class="active">Thông tin cá nhân</li>
					</ul>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-danger" th:if="${message}" th:text="${message}"></div>
						<header>
							<h1>Thay Đổi Mật Khẩu</h1>
							<div class="content">Để bảo mật tài khoản, vui lòng không
								chia sẻ mật khẩu cho người khác</div>
						</header>
						<hr>
						<form th:action="@{/change-password}" method="post"
							class="formAcount validate clearfix">
							<div class="form-group clearfix">
								<div class="row">
									<label class="col-md-3 control-label"> Mật khẩu cũ: <span
										style="color: #ff2c18">*</span></label>
									<div class="col-xs-4">
										<input type="password" name="oldPass" required="required"
											class="validate[required,minSize[4],maxSize[32]] form-control input-sm">
									</div>
								</div>
							</div>
							<div class="form-group clearfix">
								<div class="row">
									<label class="col-md-3 control-label"> Mật khẩu mới: <span
										style="color: #ff2c18">*</span></label>
									<div class="col-xs-4">
										<input type="password" name="newPass" required="required"
											class="validate[required,minSize[4],maxSize[32]] form-control input-sm">
									</div>
								</div>
							</div>
							<div class="form-group clearfix">
								<div class="row">
									<label class="col-md-3 control-label"> Xác nhận mật
										khẩu: <span style="color: #ff2c18">*</span>
									</label>
									<div class="col-xs-4">
										<input type="password" name="rePass" required="required"
											class="validate[required,minSize[4],maxSize[32]] form-control input-sm">
									</div>
								</div>
							</div>
							<div class="form-group clearfix">
								<div class="row">
									<label class="col-md-3 control-label"></label>
									<div class="col-lg-6 col-md-9">
										<button type="submit" class="btn btn-warning"
											style="border-color: black;">LƯU THAY ĐỔI</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- NEWSLETTER -->
	<div th:replace="common/web/footer::newsletter"></div>
	<!-- /NEWSLETTER -->

	<!-- FOOTER -->
	<footer th:replace="common/web/footer::footer"></footer>

	<!-- /FOOTER -->

	<div th:replace="common/web/head::script"></div>
</body>
</html>
